/* Imports */

	@import "compass/css3/transform";
	@import "compass/css3/border-radius";
	@import "compass/css3/transition";

	@import "_type.scss";

/* Colours */

	$canvas: #ededed;
	$panda-backdrop: darken($canvas, 5%);
	$panda-body: #ffffff;
	$panda-left-ear: #800080;
	$panda-face: #ff9955;
	$panda-right-ear: #ffdd55;
	$panda-left-arm: #ccff00;
	$panda-right-arm: #a02c2c;
	$panda-left-foot: #8bcfdf;
	$panda-right-foot: #88aa00; 
	
/* Z-Index */

	.panda {
		z-index: 1000;
		.head { 
			z-index: 2000; 
			.right-ear { z-index: 2100; }
			.body { z-index: 2200; }
			.face { 
				z-index: 2300;
				.nose { 
					z-index: 2310;
					.colour { z-index: 2311; }
					.mask  { z-index: 2312; }
				}
				.left-eye { z-index: 2320; }	
				.right-eye { z-index: 2330; }	
			}
			.left-ear { 
				z-index: 2400;
				.ear { z-index: 2410; }
				.mask { z-index: 2420; }
			}
		}
		.torso { 
			z-index: 1000;
			.left-foot { 
				z-index: 1100; 
				.left { z-index: 1110; }
				.middle { z-index: 1120; }
				.right { z-index: 1130; }
				.masktop { z-index: 1140; }
				.maskbottom { z-index: 1150; }
			}	
			.right-foot { 
				z-index: 1200;
				.left { z-index: 1210; }
				.right { z-index: 1220; }
				.mask { z-index: 1230; }
			}
			.body { z-index: 1300; }
			.left-arm { 
				z-index: 1400;
				.top { z-index: 1410; }
				.bottom { z-index: 1420; }
				.mask { z-index: 1430; }
			}
			.right-arm { 
				z-index: 1500;
				.top { z-index: 1510; }
				.bottom { z-index: 1520; }
				.masktop { z-index: 1530; }
				.maskbottom { z-index: 1540; }
			}
		}
	}
	
/* Page styles */
	
	/* 1em to equal 10px, anything sized in em's will shrink/grow depending on font-size % used */
	
		body {
			/*font-size: 62.5%;*/
			font: 18px/27px 'BebasNeueRegular', Arial, sans-serif;
		}
		
		h1 { 
			font: 60px/68px 'BebasNeueRegular', Arial, sans-serif;
			letter-spacing: 0; 
		}
		
	/* Keep those images responsive */

		img { max-width: 100%; } 

/* Panda CSS pieces */

	/* Panda Bits */
	
		.panda { 
			display: inline-block;
			position: relative;
			width: 100%;
			background: $panda-backdrop;
			
			/* This is a trick to keep the panda square (1:1 aspect). Props to:
				 http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
			.sizer { margin-top: 100%; }
		}

		.panda .group,
		.panda .piece { position: absolute; }
	
		/* Static styles */
	
			.panda .head { 
				top: 0%; 
				left: 14%;
				width: 55.8%;
				height: 41.4%;
			}
			
			.panda .head .body { 
				top: 7%; 
				left: 15%;
				width: 85.5%; 
				height: 93%;
				background-color: $panda-body;
				@include border-top-left-radius(45% 63%);
				@include border-top-right-radius(59% 65%);
				@include border-bottom-right-radius(15% 37%);
				@include border-bottom-left-radius(29% 23%);
				&:hover { 
					top: -7%;
				}
			}
			
			.panda .head .face { 
				top: 38%; 
				left: 32.5%; 
				width: 61%;
				height: 53%;
				&:hover { 
					top: 26%;
				}
			}
			
			.panda .head .face .left-eye {
				top: 10%; 
				left: 0%; 
				width: 42.5%;
				height: 64.5%;
				background-color: $panda-face;
				@include border-top-left-radius(51% 57%);
				@include border-top-right-radius(58% 49%);
				@include border-bottom-right-radius(78% 47%);
				@include border-bottom-left-radius(45% 41%);
			}
			
			.panda .head .face .right-eye { 
				top: 0%; 
				left: 72%;
				width: 27%; 
				height: 52%;
				background-color: $panda-face;
				@include border-top-left-radius(39% 52%);
				@include border-top-right-radius(44% 44%);
				@include border-bottom-right-radius(30% 47%);
				@include border-bottom-left-radius(61% 45%);
			}			
			
			.panda .head .face .nose { 
				top: 55%; 
				left: 49%;
				width: 43.4%;
				height: 43%;
				@include transform(rotate(-10deg));
			}
			.panda .head .face .nose .mask  {  
				top: 7%;
				left: 0%;
				width: 99%; 
				height: 80%;
				background-color: $panda-body;
				@include border-bottom-right-radius(58% 97%);
				@include border-bottom-left-radius(33% 60%);
			}
			.panda .head .face .nose .colour { 
				top: 19%; 
				left: 5%;
				width: 92%; 
				height: 80%;
				background-color: $panda-face;
				@include border-bottom-right-radius(48% 89%);
				@include border-bottom-left-radius(30% 59%);
				@include transform(rotate(-10deg));
			}	
		
			.panda .head .left-ear { 
				top: 18%; 
				left: 0%; 
				width: 35.8%; 
				height: 67%;
				&:hover { 
					top: 8%;
					left: -8%;
				}
			}
			.panda .head .left-ear .ear { 
				width: 85%; 
				height: 100%; 
				background-color: $panda-left-ear;
				@include border-top-left-radius(71% 61%);
				@include border-top-right-radius(30% 21%);
				@include border-bottom-right-radius(50% 79%);
				@include border-bottom-left-radius(50% 38%);
			}
			.panda .head .left-ear .mask { 
				top: 5%; 
				left: 61%;
				width: 26%; 
				height: 96.5%; 
				background-color: $panda-body;
				@include border-top-left-radius(58% 40%);
				@include border-bottom-left-radius(62% 44%);
				@include transform(rotate(13deg));
			}
		
			.panda .head .right-ear { 
				top: 0%; 
				left: 64%; 
				width: 24.5%; 
				height: 60.5%; 
				background-color: $panda-right-ear;
				@include border-top-left-radius(25% 25%);
				@include border-top-right-radius(59% 39%);
				@include border-bottom-right-radius(68% 57%);
				@include border-bottom-left-radius(25%);
				@include apply-origin(42% 28%, false);
				@include transform(rotate(-50deg));
				&:hover { 
					top: -10%;
					left: 80%;
				}
			}
			
			.panda .torso { 
				top: 35%; 
				left: 3%; 
				width: 92.9%;
				height: 64.2%;
			}
			
			.panda .torso .body { 
				top: 5%; 
				left: 25%; 
				width: 50.8%; 
				height: 75.5%; 
				background-color: $panda-body;
				@include border-top-left-radius(24%);
				@include border-top-right-radius(24%);
				@include border-bottom-right-radius(45% 60%);
				@include border-bottom-left-radius(53% 76%);
				&:hover { 
					top: 10%;
				}
			}
			
			.panda .torso .left-arm { 
				top: 5%; 
				left: 13%;
				width: 31%;
				height: 46.3%;
				&:hover { 
					left: 0%;
				}
			}
			.panda .torso .left-arm .top { 
				top: 0%; 
				left: 0%;
				width: 76%; 
				height: 67.5%;
				background-color: $panda-left-arm; 
				@include border-top-left-radius(100% 100%);
				@include border-bottom-right-radius(100%);	
			}
			.panda .torso .left-arm .bottom { 
				top: 35%;
				left: 0%; 
				width: 97%; 
				height: 65.5%;
				background-color: $panda-left-arm; 
				@include border-top-left-radius(23% 48%);
				@include border-top-right-radius(72% 52%);
				@include border-bottom-right-radius(56% 47%);
				@include border-bottom-left-radius(33% 50%);
			}
			.panda .torso .left-arm .mask { 
				top: 3%; 
				left: 54.5%; 
				width: 70%; 
				height: 49%;
				background-color: $panda-body;
				@include border-top-left-radius(29% 50%);
				@include border-bottom-left-radius(95% 50%);
			}
			
			.panda .torso .right-arm { 
				top: 0%; 
				left: 51%;
				width: 28.7%;
				height: 47.2%;
				&:hover { 
					left: 55%;
				}
			}
			.panda .torso .right-arm .top { 
				top: 0%; 
				left: 37.5%;
				width: 88.5%; 
				height: 66.5%;
				background-color: $panda-right-arm; 
				@include border-top-left-radius(20%);
				@include border-top-right-radius(80%);
				@include border-bottom-right-radius(20%);
				@include border-bottom-left-radius(80%);
				@include apply-origin(0 0, false);
				@include transform(skew(0deg, 23deg) rotate(-16deg));
			}
			.panda .torso .right-arm .bottom { 
				top: 35%; 
				left: 52.5%; 
				width: 87.5%; 
				height: 67.5%;
				background-color: $panda-right-arm; 
				@include border-top-left-radius(25%);
				@include border-top-right-radius(74% 58%);
				@include border-bottom-right-radius(60% 42%);
				@include border-bottom-left-radius(40% 42%);
			}
			.panda .torso .right-arm .masktop { 
				top: 13%; 
				left: 25.5%;
				width: 38%; 
				height: 33.5%;
				background-color: $panda-body;
				@include transform(rotate(-29deg));
				@include border-radius(10%);
			}
			.panda .torso .right-arm .maskbottom { 
				top: 48%; 
				left: 28.5%; 
				width: 50.5%; 
				height: 11.5%;
				background-color: $panda-body;
				@include transform(rotate(-68deg));
				@include border-radius(10%);
			}
					
			.panda .torso .left-foot { 
				top: 50%; 
				left: 1%; 
				width: 44.8%;
				height: 51%;
				&:hover { 
					top: 54%; 
					left: -5%; 
				}
			}
			.panda .torso .left-foot .left { 
				top: 9%; 
				left: 11.5%;
				width: 49.5%; 
				height: 105.5%;
				background-color: $panda-left-foot;
				@include transform(rotate(-54deg));
				@include border-top-left-radius(54% 38%);
				@include border-top-right-radius(56% 44%);
				@include border-bottom-right-radius(20%);
				@include border-bottom-left-radius(61% 62%);
			}
			.panda .torso .left-foot .middle { 
				top: 0%; 
				left: 35%; 
				width: 56.5%; 
				height: 86%;
				background-color: $panda-left-foot;
				@include transform(rotate(-40deg));
				@include border-top-left-radius(10%);
				@include border-top-right-radius(10%);
				@include border-bottom-right-radius(88% 54%);
				@include border-bottom-left-radius(10%);
			}
			.panda .torso .left-foot .right {
				top: 48%; 
				left: 81.5%; 
				width: 16.2%; 
				height: 20.5%;
				background-color: $panda-left-foot;
				@include border-radius(50%);
			}
			.panda .torso .left-foot .masktop { 
				top: -13%; 
				left: 43.5%;
				width: 11%; 
				height: 35.5%;
				background-color: $panda-backdrop;
				@include transform(skew(-50deg, 25deg));
				@include border-bottom-right-radius(32%);
			}
			.panda .torso .left-foot .maskbottom {
				top: 56%; 
				left: 84%; 
				width: 20%; 
				height: 29%;
				background-color: $panda-backdrop;
				@include border-top-left-radius(48% 47%);
				@include border-top-right-radius(20%);
				@include border-bottom-right-radius(20%);
				@include border-bottom-left-radius(20%);
				@include transform(rotate(23deg));
			}
				
			.panda .torso .right-foot { 
				top: 40%; 
				left: 61%; 
				width: 40.7%;
				height: 44%;
				&:hover { 
					top: 44%;
					left: 66%;
				}
			}
			.panda .torso .right-foot .left { 
				top: 13%; 
				left: 0%; 
				width: 62%; 
				height: 78.5%;
				background-color: $panda-right-foot;
				@include border-top-left-radius(61%);
				@include border-bottom-right-radius(28%);
				@include border-bottom-left-radius(40% 17%);
				@include transform(rotate(10deg));
			}
			.panda .torso .right-foot .right { 
				top: 0%; 
				left: 47%;
				width: 47.5%; 
				height: 105%;
				background-color: $panda-right-foot;
				@include border-top-left-radius(62% 69%);
				@include border-top-right-radius(39% 46%);
				@include border-bottom-right-radius(42% 48%);
				@include transform(rotate(20deg));
			}
			.panda .torso .right-foot .mask { 
				top: 0%; 
				left: 53%;
				width: 16%; 
				height: 20%; 
				background-color: $panda-backdrop;
				@include transform(skew(-50deg, 25deg));
				@include border-bottom-right-radius(28%);
			}
			
		/* Animation Styles */
		
			.panda .head .body,
			.panda .head .face,
			.panda .head .left-ear,
			.panda .head .right-ear,
			.panda .torso .body,
			.panda .torso .left-arm,
			.panda .torso .right-arm,
			.panda .torso .left-foot,
			.panda .torso .right-foot {
				@include transition-property(comma-list(top, left));
				@include transition-duration(100ms);
				@include transition-timing-function(ease-in);
			}
			
		/* Debug */

			.debug { width: 60em; height: 60em; }
			.debug .panda, .debug .panda-reference { 
				position: absolute;
				top: 0;
				left: 0;
			}
			.debug .panda { background: none; }
			.debug .panda-reference { display: block !important; z-index: 99; }
			.debug .piece { opacity: 0.7; } 
			.debug .piece .colour,
			.debug .panda .head .body, 
			.debug .panda .torso .left-arm .top,
			.debug .panda .torso .left-arm .bottom,
			.debug .panda .torso .left-arm .mask,
			.debug .panda .torso .right-arm .top,
			.debug .panda .torso .right-arm .bottom,
			.debug .panda .torso .right-arm .masktop,
			.debug .panda .torso .right-arm .maskbottom,
			.debug .panda .torso .left-foot .left,
			.debug .panda .torso .left-foot .middle,
			.debug .panda .torso .left-foot .right,
			.debug .panda .torso .left-foot .masktop,
			.debug .panda .torso .left-foot .maskbottom,
			.debug .panda .torso .right-foot .left,
			.debug .panda .torso .right-foot .right,
			.debug .panda .torso .right-foot .mask  { background: green !important; } 
			/*.debug .panda .head,
			.debug .panda .head .face,
			.debug .panda .head .left-ear,
			.debug .panda .torso,
			.debug .panda .torso .left-arm,
			.debug .panda .torso .right-arm,
			.debug .panda .torso .left-foot,
			.debug .panda .torso .right-foot { border: 0.1em solid red; }*/
		
