/* Page styles */
	
	body {
		text-align: center;
	}

	h1 { 
		font: 60px/68px 'BebasNeueRegular', Arial, sans-serif;
		letter-spacing: 0; 
	}
		
	/* Keep those images responsive */

		img { max-width: 100%; }